
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Day Mode */
    --bg-principal: #F2F2F7;
    --text-color-principal: #000;
    --navbar-color: #FFF;
    --button-bg: #F2F2F7;
    --button-border: #FFF;
    --ellipse-shadow: rgba(0, 0, 0, 0.15);
    --ellipse-shadow-light: rgba(0, 0, 0, 0.10);
    --changebg-margin: 5px;
    
    /* Night Mode */
    --bg-principal-night: #1A1A1A;
    --text-color-principal-night: #FFF;
    --navbar-color-night: #333;
    --button-bg-night: #444;
    --button-border-night: #666;
    --ellipse-shadow-night: rgba(255, 255, 255, 0.15);
    --ellipse-shadow-light-night: rgba(255, 255, 255, 0.10);
    --changebg-margin-night: 35px;

    
    /* General */
    --font-family: 'Inter', sans-serif;
    --transition-time: 0.3s;
}

* {
    font-family: var(--font-family);
    transition: var(--transition-time);
}

body {
    background-color: var(--bg-principal);
    color: var(--text-color-principal);
}

.navbar {
    padding-top: 30px;
    width: 60%;
    margin: 0 auto;
}

#navbar-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#navbar-title {
    color: var(--text-color-principal);    
    text-align: left;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

#navbar-subtitle {
    color: var(--text-color-principal);    
    text-align: left;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin: 0;
}

#navbar-secondary {
    display: flex;
    align-items: center;
}

.navbar-ellipse {
    background-color: var(--button-bg);
    border: 2px solid var(--button-border);
    filter: drop-shadow(0px 2px 4px var(--ellipse-shadow));
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
}

.navbar-ellipse-img {
    width: 21px;
    height: 22px;
    background: url('icons/app.png') no-repeat center center;
    background-size: contain;
}

.navbar-changebg {
    background-color: var(--button-bg);
    border: 2px solid var(--button-border);
    filter: drop-shadow(0px 2px 4px var(--ellipse-shadow));
    width: 70px;
    height: 40px;
    border-radius: 75px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-ellipse:hover,
.navbar-changebg:hover {
    filter: drop-shadow(0px 4px 8px var(--ellipse-shadow-light));
}

.changebg {
    background-color: var(--navbar-color);
    filter: drop-shadow(0px 2px 4px var(--ellipse-shadow-light));
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--changebg-margin);
}

.changebg-img {
    width: 100%;
    height: 22px;
    background: url('icons/sun.png') no-repeat center center;
    background-size: contain;
    display: flex;
}

.section-image {
    height: 80vh;
}

.container-first-imgs {
    width: 100%;
    height: 100%;  
    display: block;
}

#first-imgs {
    background: url(imgs/principalimg1.png) no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 2px 4px var(--ellipse-shadow));
}

.article {
    background: #F6FFF6;
}

.article-title {
    background: var(--bg-principal);
    text-align: center;
    font-style: normal;
    line-height: normal;
    padding: 2%;
    margin: 0;
    color: var(--text-color-principal);    

}

.article-title h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 15px 0;
}

.article-title p {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
}


