@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=VT323&display=swap');

* {
    font-family: "Chakra Petch";
}

body {
    margin: 0px 10%;
    padding: 0;
    border: 1px solid white;
    background-color: black;
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    height: 100vh;
}


.titulo-home {
    color: white;
}

.subtitulo-home {
    color: white;
}

#navbar-home {
    color: whiteº;
}