* {
    font-family: "Fira Sans Condensed", serif;

}

body {
    background: linear-gradient(270deg, #1f1b50, #2e1ea3, #1f1b50);
    background-size: 500% 500%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



h2, h3, h4 {
    color: #ff0000;
}

#sombra {
    color: white; 
    text-shadow: 0px 0px 4px rgba(0, 0, 0), 0px -1px 6px rgb(255, 0, 255), 0px 1px 6px rgb(16, 214, 225);
    transition: ease 0.1s;
}

#sombra:hover {
    color: rgb(255, 255, 255); 
    text-shadow: 0px 0px 4px black;
}

#back-enunciado {
    background-color: rgba(255, 255, 255, 0.204);
    width: 500px;
    margin: 0 auto;
    border: 1px solid white;
}

#enunciado {
    font-size: 48px;
    padding: 30px;
    text-align: center;
    color: white;
}






