body {
    margin: 0;
}

table {
    width: 40%;
    margin: auto;
}

#table-title {
    background-color: #fbc4cc;
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    width: 50%;
    margin: auto;
    margin-top: 3%;
}

th, td {
    text-align: center;
}

td {
    height: 70px;
    width: 8%;
    transition: transform 0.06s ease-in-out;
}

td:hover {
    transform: scale(1.2) rotate(3deg); 
    background-color: #ffcccb;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


th {
    background-color: #fbc4cc;
    font-size: 32px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 60px;
    padding: 20px;
    width: auto;
}

#semana {
    font-weight: bold;
}

.diasSemana td {
    background-color: #fbc4cc;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    box-shadow: 0.3px 0.3px 2px 0px black;
}


.diaDiferente {
    background-color: white !important;
    border: none !important;
    box-shadow: 0px 0px 0px 0px white !important;
}

.diaDiferente:hover {
    box-shadow: 0.3px 0.3px 2px 0px black !important;
    border: 1px solid black !important;
}

#diaOtroMes1, #diaOtroMes2, #diaOtroMes3, #diaOtroMes4 {
    color: gray;
}

#selected {
    background: radial-gradient(circle, #8bf88e 0%, #ffffff 50%) !important;
    animation: shake 0.3s ease !important;
}

#selected:hover {
    border: none !important;
    box-shadow: none !important;
}

@keyframes shake {
    0% { transform: scale(1); }
    25% { transform: scale(1.05); }
    50% { transform: scale(1); }
    75% { transform: scale(1.05); }
    100% { transform: scale(1); }
}
