*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #feddbf;
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    padding-top: 20px;
}

.caja {
    width: 310px;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    
    border: 2px dashed #c4a573;
    background-color: #f3d1ae;
}

#caja-dif {
    background-color: #a92d2e;
    color: white;
}

.texto {
    padding-left: 10px;
    font-style: italic;
}

#texto-especial {
    font-size: 38px;
}

.texto-especial2 {
    font-size: 38px;
    color: #c4a573;
}
